<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Review</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

  <div class="wrapper">
    <header>
        <h1 class="header">Tech Review</h1>
        <nav class="navbar">
            {{#if loggedIn}}
            <a href="/" class="navbar-item">Home</a>
            <a href="/dashboard" class="navbar-item">Dashboard</a>
            <a href="/dashboard/new" class="navbar-item">Create Post</a>
            <button id="logout" class="navbar-item btn-no-style">Logout</button>
            {{else}}
            <a href="/" class="navbar-item">Home</a>
            <a href="/login" class="navbar-item button">Login</a>
            {{/if}}
        </nav>
    </header>

    <main>
            {{{ body }}}
    </main>

    <footer class="footer rows">
        <div class="row">
          <p>
            <a href="/">Home</a>{{#if loggedIn}} | 
            <a href="/dashboard">Dashboard</a> | 
            <a href="/dashboard/new">Create Post</a>
            {{else}}
             | <a href="/login">Login</a>
            {{/if}}
            </p>
        </div>
      <div class="row">
        <p>Created with <a>❤️</a> by <a href="https://www.linkedin.com/in/bfguo/">Baofeng Guo</a>. Thank you for visiting.
  </div>
    </footer>
  </div>

{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
</body>

</html>